flows.json
[{"id":"86de2320.2fde6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"84424b02.ee23b8","type":"ui_text","z":"86de2320.2fde6","group":"5ecc0aea.129284","order":2,"width":0,"height":0,"name":"","label":"Predicition","format":"{{msg.payload}}","layout":"row-spread","x":1046,"y":319,"wires":[]},{"id":"fe323a43.90ab78","type":"ui_form","z":"86de2320.2fde6","name":"","label":"","group":"5ecc0aea.129284","order":1,"width":0,"height":0,"options":[{"label":"fixedacidity","value":"fixedacidity","type":"number","required":true},{"label":"volatileacidity","value":"volatileacidity","type":"number","required":true},{"label":"criticacid ","value":"criticacid","type":"number","required":true},{"label":"residualsugar","value":"residualsugar","type":"number","required":true},{"label":"chlorides","value":"chlorides","type":"number","required":true},{"label":"freesulfurdioxide","value":"freesulfurdioxide","type":"number","required":true},{"label":"totalsulfurdioxide","value":"totalsulfurdioxide","type":"number","required":true},{"label":"density","value":"density","type":"number","required":true},{"label":"pH","value":"pH","type":"number","required":true},{"label":"sulphates","value":"sulphates","type":"number","required":true},{"label":"alcohol","value":"alcohol","type":"number","required":true}],"formValue":{"fixedacidity":"","volatileacidity":"","criticacid":"","residualsugar":"","chlorides":"","freesulfurdioxide":"","totalsulfurdioxide":"","density":"","pH":"","sulphates":"","alcohol":""},"payload":"","submit":"","cancel":"","topic":"","x":269,"y":239,"wires":[["daab0741.dbeaf8"]]},{"id":"daab0741.dbeaf8","type":"function","z":"86de2320.2fde6","name":"parameters","func":"global.set(\"fixedacidity\",msg.payload.fixedacidity)\nglobal.set(\"volatileacidity\",msg.payload.volatileacidity)\nglobal.set(\"criticacid\",msg.payload.criticacid)\nglobal.set(\"residualsugar\",msg.payload.residualsugar)\nglobal.set(\"chlorides\",msg.payload.chlorides)\nglobal.set(\"freesulfurdioxide\",msg.payload.freesulfurdioxide)\nglobal.set(\"totalsulfurdioxide\",msg.payload.totalsulfurdioxide)\nglobal.set(\"density\",msg.payload.density)\nglobal.set(\"pH\",msg.payload.pH)\nglobal.set(\"sulphates\",msg.payload.sulphates)\nglobal.set(\"alcohol\",msg.payload.alcohol)\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":130,"wires":[["27eb44e.ccb7abc","267ac15a.4d196e"]]},{"id":"27eb44e.ccb7abc","type":"http request","z":"86de2320.2fde6","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":436,"y":321,"wires":[["f72f405f.fe0f3","9726c043.b5c73"]]},{"id":"f72f405f.fe0f3","type":"debug","z":"86de2320.2fde6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":666,"y":379,"wires":[]},{"id":"53fd834e.041e0c","type":"http request","z":"86de2320.2fde6","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/b94c7666-8d06-47af-9133-e53330ed55e6/deployments/bbaf0d30-699f-432b-879a-65a12b3ae330/online","tls":"","proxy":"","authType":"basic","x":606,"y":79,"wires":[["bd1d2833.e25588","b9dc5cb.ee960a"]]},{"id":"bd1d2833.e25588","type":"debug","z":"86de2320.2fde6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":806,"y":59,"wires":[]},{"id":"b9dc5cb.ee960a","type":"function","z":"86de2320.2fde6","name":"","func":"msg.payload=msg.payload.values[0][1]\nreturn msg;","outputs":1,"noerr":0,"x":846,"y":259,"wires":[["84424b02.ee23b8"]]},{"id":"9726c043.b5c73","type":"function","z":"86de2320.2fde6","name":"prediction","func":"var token = msg.payload.token\nvar fixedacidity=global.get('fixedacidity')\nvar volatileacidity=global.get('volatileacidity')\nvar criticacid=global.get('criticacid')\nvar residualsugar=global.get('residualsugar')\nvar chlorides=global.get('chlorides')\nvar freesulfurdioxide=global.get('freesulfurdioxide')\nvar totalsulfurdioxide=global.get('totalsulfurdioxide')\nvar density=global.get('density')\nvar pH=global.get('pH')\nvar sulphates=global.get('sulphates')\nvar alcohol=global.get('alcohol')\nmsg.payload ={\"fields\":[\"fixedacidity\",\"volatileacidity\",\"criticacid\",\"residualsugar\",\"chlorides\",\"freesulfurdioxide\",\"totalsulfurdioxide\",\"density\",\"pH\",\"sulphates\",\"alcohol\"],values:[[fixedacidity,volatileacidity,criticacid,residualsugar,chlorides,freesulfurdioxide,totalsulfurdioxide,density,pH,sulphates,alcohol]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":536,"y":179,"wires":[["53fd834e.041e0c","96e6c459.2d4468"]]},{"id":"267ac15a.4d196e","type":"debug","z":"86de2320.2fde6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":455,"y":48.75,"wires":[]},{"id":"96e6c459.2d4468","type":"debug","z":"86de2320.2fde6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":732.5,"y":605,"wires":[]},{"id":"5ecc0aea.129284","type":"ui_group","z":"","name":"Input Parameters","tab":"5bb77041.bc2da","disp":true,"width":"6","collapse":false},{"id":"5bb77041.bc2da","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]